@layer base {
  *,
  *::after,
  *::before {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
  }

  body {
    @apply text-white;
    @apply bg-black;
    @apply m-0 p-0;
  }

  button {
    background-color: transparent;
    background-image: none;
    color: inherit;
    cursor: pointer;
    padding: 0;
    font-family: inherit;
  }

  hr {
    @apply border-t w-full border-gray-300;
  }

  strong {
    @apply font-semibold #{!important};
  }
  
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}