// Define any additional fonts here
@font-face {
  font-family: 'grotesk';
  src: url('../assets/fonts/NeueHaasDisplay-XXThin.ttf') format('truetype');
  font-weight: 100; 
  font-style: normal;
}
@font-face {
  font-family: 'grotesk';
  src: url('../assets/fonts/NeueHaasDisplay-Thin.ttf') format('truetype');
  font-weight: 200; 
  font-style: normal;
}
@font-face {
  font-family: 'grotesk';
  src: url('../assets/fonts/NeueHaasDisplay-Light.ttf') format('truetype');
  font-weight: 300; 
  font-style: normal;
}
@font-face {
  font-family: 'grotesk';
  src: url('../assets/fonts/NHaasGroteskTXPro-55Rg.ttf') format('truetype');
  font-weight: 400; 
  font-style: normal;
}

@font-face {
  font-family: 'grotesk';
  src: url('../assets/fonts/NHaasGroteskTXPro-56It.ttf') format('truetype');
  font-weight: 400; 
  font-style: italic;
}

@font-face {
  font-family: 'grotesk';
  src: url('../assets/fonts/NHaasGroteskTXPro-65Md.ttf') format('truetype');
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'grotesk';
  src: url('../assets/fonts/NHaasGroteskTXPro-66MdIt.ttf') format('truetype');
  font-weight: 500; /* Medium */
  font-style: italic;
}

@font-face {
  font-family: 'grotesk';
  src: url('../assets/fonts/NHaasGroteskTXPro-75Bd.ttf') format('truetype');
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'grotesk';
  src: url('../assets/fonts/NHaasGroteskTXPro-76BdIt.ttf') format('truetype');
  font-weight: 700; /* Bold */
  font-style: italic;
}

@layer base {
  body {
    @apply font-grotesk text-[14px] md:text-[16px] font-normal;
  }

  #root,
  blockquote,
  dl,
  dd,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  hr,
  figure,
  p,
  pre {
    @apply m-0;
    @apply text-white;
  }

  h1 {
    @apply text-3xl ; /* 30px with bold weight */
  }

  h2 {
    @apply text-2xl ; /* 24px with bold weight */
  }

  h3 {
    @apply text-xl font-medium; /* 20px with medium weight */
  }

  h4 {
    @apply text-lg font-medium; /* 18px with medium weight */
  }

  h5 {
    @apply text-base font-medium; /* 16px with medium weight */
  }

  h6 {
    @apply text-sm font-medium; /* 14px with medium weight */
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}

// Font family utility classes
.grotesk {
  font-family: 'grotesk', sans-serif;
}

.open-sans {
  font-family: 'Open-sans', sans-serif;
}